.prueba1{

}
.alto1 {
    display:inline-block;
 

}
.alto2 {
    display:inline-block;
  
}
.alto2  p{

   

}

.title1
{
    font-size: 9vw;
}
.title2
{
 font-size: 3vw;

}
.title3
{

    vertical-align:middle;
    padding-left: 3vw;
    padding-right: 3vw;
 font-size: 6vw;
}