

.alto11 {
  margin-top: 0px;
  display:block;
  float:left;
  
  flex-grow: 1;
  /* margin-left: 2%; */
  /* height: fit-content; */
  height: 3.51vh; 
  width: 9.4%;
  


}
.alto21 {
    float:left;



  display:block;

 

  /* object-fit: cover; */
    height: 100%;
    width: 1vw;
   


}


.title01
{
  
  /* background-color: black; */
  width: 100%;
  
  font-family: "Popins_bold";
  display:block;
  height: 3.78vh;
}
.title11
{
  
  color: white;
  width: 112%;
  /* font-size: calc((2.51vh + 1vw)); */
  font-size: calc((4vh + 1vw));
  font-family: "Popins_bold";
  display:block;
  height: 3.51vh;
}
.title21
{
  color: white;
  display:block;
font-family: "Nexa_bold";
 
font-size: calc((2vh + 1vw)/2);
/* font-size: 1.2vhcaz; */
height: 0.78vh;
width: 115%;;

}
.title31
{
  /* zfsd */
  color: white;
  width: 136%;
  font-size: calc((3vh + 1vw));
  font-family: "Popins_bold";
  display:block;
  height: 70%;
}
.title41
{
  color: white;
  display:block;
font-family: "Nexa_bold";
 
font-size: calc((2vh + 1vw)/2);
height: 30%;
width: 100%;

}

.contenedoralto1{
    display: flex;
    width: 100%;
    height: 100%;
}


@font-face {
  font-family: "Soleil";
  src: url("../assets/fonts/Soleil-Regular.ttf") format("truetype");

  /* Add other formats as you see fit */
}
@font-face {
  font-family: "Nexa_bold";
  src: url("../assets/fonts/Nexa_Bold.otf") format("truetype");

  /* Add other formats as you see fit */
}
@font-face {
  font-family: "Popins_bold";
  src: url("../assets/fonts/Poppins_Bold.otf") format("truetype");

  /* Add other formats as you see fit */
}