.prueba1{

}
.alto1 {
    display:inline-block;
    line-height:6vw;
 

}
.alto2 {
    
    display:inline-block;
    line-height:7vw;

  
}
.alto2  p{

   

}

.title1
{
    font-size: 9vw;
}
.title2
{
font-family: "Soleil";
    margin-top: 2vh;
 font-size: 3vw;

}
.title3
{

    vertical-align:middle;
    padding-left: 3vw;
    padding-right: 3vw;
 font-size: 6vw;
}
.contenedoralto{}


@font-face {
    font-family: "Soleil";
    src: url("../assets/fonts/Soleil-Regular.ttf") format("truetype");

    /* Add other formats as you see fit */
  }