
body{
    background-color: black;
    text-align: center
    
}
.header1{

  
    margin-top: 2vh;
    
   
    margin-left: 8vw;
    margin-right: 8vw;
    
}
.body1{

    color: white;
   align-items: center;
    margin-left: 0px;
    
}
.divbod1{
    float: left;
    display: inline-block;

    color: white;
    width: 60vw;

    margin-left: 0px;

}
.divbod2{
    float: left;

   
  width: 40vw;
  display: inline-block;
}
.imgfecha{
    padding-right: 8vw;
    padding-top: 14vw;
float: right;
    height:10vw;
   
 
}
.divider
{
   height: 0.1px;
   color: black;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-style: dashed;
    border-top: 1px solid grey;
    
}
.logo
{
    width: 50vw;
    
}


.tittle0
{
    font-size: 9vw;
    display: flex;
    color: white;
    margin-bottom: 0%;
    margin-top: 0.1vh;
    border-color: white;
   
}
.al1
{
    font-size: 2vw;
  
    float: right;
    color: white;
    margin-bottom: 0%;
    font-family: "Soleil";
    border-color: white;
   
}
.al2
{
    font-size: 4vw;
   
    text-align: center;
    color: white;
    margin-bottom: 0%;
    font-family: "Soleil";
    
    border-color: white;
   
}

.contenedortitle
{
    font-weight: bold;
    font-family: "Soleil";
    
    margin-left:8vw ;
}
.contador
{
    padding-top: 0vw;
    font-weight: bold;
    font-family: "Soleil";
    color: white;
    font-size: 8vw;
}
.iframevideo1{

    margin-top: 1vh;
    width: 100%;
    height: 20vh;
   
    
    
}
.video{
   
    object-fit: cover;
    width: 100vw;
    height: 20vh;

}


.contenedor-bajo1{
   
    margin-top: 6vw;
    
}
.contenedor-bajo2{
   
   
    
}
.bajo1{
    

   float: left;
   width: 20vw;
   align-items: center;
   text-align: right;
   height:100%;
  

}

.bajo2{
    font-size: 2.5vw;
    font-family: "Soleil";
align-items: center;
text-align: center;
    color:white;
    float: left;
   width: 60vw;
   /* height:8vh; */

    
}


.bajo3{
   
  
    object-fit:fill;
    align-items: center;
   text-align:left;

    width: 20vw;
    float: left;
    height:100%;
    display: inline-block;
}
.bajo4{
    
padding-left: 1vw;
    float: left;
    width: 22vw;
    align-items: center;
    text-align: right;
    height:100%;
    border-right: 0px solid white;
    border-left: 0px solid white;
    border-top: 0px solid white;
 
 }


.bajo5{
   
  
    object-fit:fill;
    align-items: center;
   text-align:center;
   margin-top: 0.7em;
    width: 0px;
    float: left;
    height: 7vw;
    display: inline-block;
    border-style: dashed;
    border-right: 0px solid white;
    border-left: 0px solid white;
    border-top: 0px solid white;
    padding-left: 2vw;
}



.imgcalendar{
   
    align-items: center;
    margin-top: 0.5em;
    padding-left: 2vw;
   
    
    padding-right: 5vw;
   
    width: 12vw;
}
.imgdir{
   
    
    margin-top: 0.1em;
    padding-left: 2vw;
   
    
    padding-right: 5vw;
   
    width: 12vw;
}


.imgfoto{
    align-items: center;
    margin-top: 0.5em;
    padding-left: 5vw; 
   
    width: 12vw;
    padding-right: 2vw;
    
}
.bajo6{
    font-size: 4vw;
    font-family: "Soleil";
text-align: center;
vertical-align:middle;
    color:white;
    float: left;
   width: 57vw;
   height: 100%;
   /* height:8vh; */

    
}
.etiqtp1{
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
    height: 100%;
   
    

 }
 .etiqtp{
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
    height: 100%;
   
    margin-top:10%;


 }


@font-face {
    font-family: "Soleil";
    src: url("./assets/fonts/Soleil-Regular.ttf") format("truetype");
    /* Add other formats as you see fit */
  }