.container_all_Desk{

    background-color:rgb(0, 0, 0);
    height: 99.9%;
    
    
}
.video{
   
    object-fit: cover;
    width: 100%;
    height: 100%;

}
.container_201{
    background-color: rgb(0, 0, 0);
    height: 17.18%;
    float: top;  
}
.container_201_1{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 12.5%;
    float: left;  
}
.container_201_2{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 37.5%;
    float: left;  
}
.container_201_2_1{
    background-color: rgb(0, 0, 0);
    height: 36.38%;
    width: 100%;
    float: left;  
}
.container_201_2_2{
    background-color: rgb(0, 0, 0);
    height: 27.76%;
    width: 100%;
    float: left;  
}
.container_201_2_2a{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 35%;
    float: left;  
}
.container_201_2_3{
    background-color: rgb(0, 0, 0);
    height: 35.86%;
    width: 100%;
    float: left;  
}
.container_201_3{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 50%;
    float: left; 
}

.container_202{
background-color: rgb(0, 0, 0);
height: 77.36%;
width: 12.5%;
float: left;  
}
        
.container_203{            
background-color: rgb(0, 0, 0);
height: 77.36%;
width: 37.5%;
float: left;  
}
    .container_203_1{            
    background-color: rgb(1, 1, 1);
    color:rgb(10, 10, 10);
    height: 46.45%;
    width: 100%;
    float: left;  
    }
        .container_203_2{            
        background-color: rgb(0, 0, 0);
        height: 53.55%;
        width: 100%;
        float: left;
        display: flex;
    flex-direction: column;
    align-items: center;  
        }
            .container_203_2_1{            
            background-color: rgb(0, 0, 0);
            height: 31.86%;
            width: 100%;
            float: left;  
            }
            .container_203_2_2{            
                background-color: rgb(0, 0, 0);
                height: 20.08%;
                width: 70%;
                float: left;  
            }
            .container_203_2_3{            
                background-color: rgba(0, 0, 0, 0.959);
                height: 21.29%;
                width: 100%;
                float: left;  
                 }
                 .container_203_2_4{            
                    background-color: rgba(0, 0, 0, 0.959);
                    text-align:center;
                    vertical-align: sub;
                    font-family:'Nexa_Regular';
                    text-decoration: underline;
                    color:rgb(255, 255, 255);
                    font-size: calc(1vw + 0.4vh);
                    height: 6,03%;
                    width: 100%;
                    float: left;  
                     }
                        
                        
                        

.container_204{
background-color: rgb(0, 0, 0);
height: 77.36%;
width: 12.63%;
float: left;  
}

.container_205{
text-align:left;
vertical-align: sub;
font-family:'Nexa_Regular';
background-color: rgb(0, 0, 0);
color:rgb(10, 10, 10);
height: 77.36%;
width: 21.84%;
float: left;  

}
    .container_205_1{
    background-color: rgb(0, 0, 0);
    height: 38.31%;
    width: 100%;
    float: left; 
    text-align:left;
    vertical-align: baseline;
    
    }
        .container_205_1_1{
        /* padding-top: 0.5vh; */
        text-align:left;
        vertical-align: sub;
        font-family:'Nexa_Regular';
        font-size: calc(4vw + 0.4vh);
        background-color: rgb(0, 0, 0);
        color:rgb(255, 255, 255);
        height: 33.33%;
        width: 100%;
        float: left;  
        }
    .container_205_2{
        background-color: rgb(0, 0, 0);
        height: 6.08%;
        width: 100%;
        float: left;

        }
        .container_205_3{
            /* padding-top: 0.5vh; */
            text-align:center;
            vertical-align: sub;
            font-family:'Nexa_Regular';
            background-color: rgb(0, 0, 0);
            color:rgb(255, 255, 255);
            height: 20.14%;
            width: 100%;
            float: left;  
            }
            .container_205_3_1{
                /* padding-top: 0.5vh; */
                text-align:left;
                vertical-align: sub;
                font-family:'Nexa_Regular';
                background-color: rgb(0, 0, 0);
                color:rgb(255, 255, 255);
                height: 25%;
                width: 100%;
                float: left; 
                font-size: calc(0.96vh + 1vw); 
                }
            .container_205_4{
                background-color: rgb(0, 0, 0);
                height: 4.34%;
                width: 100%;
                float: left;  
                }
                .container_205_6{
                    text-align:right;
                    background-color: rgb(0, 0, 0);
                    font-family:'Nexa_Regular';
                    color:rgb(255, 255, 255);
                    font-size: calc(1vh + 0.8vw);
                    height: 5.4%;
                    width: 100%;
                    float: left;  
                    }
                    .container_205_7{
                        background-color: rgb(0, 0, 0);
                        height: 5.04%;
                        width: 100%;
                        float: left;  
                        }
                        .container_205_8{
                            background-color: rgb(0, 0, 0);
                            height: 10.59%;
                            width: 100%;
                            float: left;  
                            }
                .container_205_5{
                    /* padding-top: 0.5vh; */
                    text-align:left;
                    vertical-align: sub;
                    font-family:'Nexa_Regular';
                    
                    background-color: rgb(0, 0, 0);
                    color:rgb(10, 10, 10);
                    height: 10.1%;
                    width: 100%;
                    float: left;  
                    }
                        .container_205_5_1{
                        /* padding-top: 0.5vh; */
                        text-align:left;
                        background-color: rgb(0, 0, 0);
                        color:rgb(10, 10, 10);
                        height: 100%;
                        width: 19.69%;
                        float: left;  
                        }
                        .container_205_5_2{
                            /* padding-top: 0.5vh; */
                            text-align:left;
                            vertical-align: sub;
                            font-family:'Nexa_Regular';
                            font-size:5.12vh ;
                            background-color: rgb(0, 0, 0);
                            color:rgb(10, 10, 10);
                            height: 100%;
                            width: 22.48%;
                            float: left;  
                            }
                            .container_205_5_3{
                                /* padding-top: 0.5vh; */
                                text-align:left;
                                vertical-align: sub;
                                font-family:'Nexa_Regular';
                                font-size:5.12vh ;
                                background-color: rgb(0, 0, 0);
                                color:rgb(10, 10, 10);
                                height: 100%;
                                width: 19.69%;
                                float: left;  
                                }
                                .container_205_5_4{
                                    /* padding-top: 0.5vh; */
                                    text-align:left;
                                    vertical-align: sub;
                                    font-family:'Nexa_Regular';
                                    font-size:5.12vh ;
                                    background-color: black;
                                    color:rgb(10, 10, 10);
                                    height: 100%;
                                    width: 23.36%;
                                    float: left;  
                                    } 
                                    .container_205_5_5{
                                        /* padding-top: 0.5vh; */
                                        text-align:left;
                                        vertical-align: sub;
                                        font-family:'Nexa_Regular';
                                        font-size:5.12vh ;
                                        background-color: rgb(0, 0, 0);
                                        color:rgb(10, 10, 10);
                                        height: 100%;
                                        width: 14.77%;
                                        float: left;  
                                        }           

.container_206{
    background-color: rgb(0, 0, 0);
    color:rgb(34, 0, 255);
    height: 77.36%;
    width: 12.53%;
    float: left;  
    }
                
.container_207{
/* padding-top: 0.5vh; */
text-align:left;
vertical-align: sub;
font-family:'Nexa_Regular';
font-size:5.12vh ;
background-color: rgb(255, 255, 255);
color:rgb(0, 0, 0);
height: 5.4%;
    width: 100%;
    float: left; 
} 

    .container_207_1{
    background-color: rgba(255, 255, 255);
    height: 100%;
        width: 12.5%;
        float: left; 
    }
    .container_207_2{
        /* padding-top: 0.5vh; */
        text-align:center;
        vertical-align: baseline;
        font-family:'Nexa_Regular';
        font-size:50% ;
        background-color: rgb(255, 255, 255);
        height: 100%;
            width: 8%;
            float: left; 
        }
            .container_207_2_1{
            background-color: rgba(255, 255, 255);
            height: 30%;
                width: 100%;
                float: left; 
            }
            .container_207_2_2{
                /* padding-top: 0.5vh; */
                text-align:center;
                vertical-align: baseline;
                font-family:'Nexa_Regular';
                font-size: calc((1vh + 0.67vw));
                background-color: rgb(255, 255, 255);
                color:rgb(0,0,0);
                height: 40%;
                    width: 100%;
                    float: left; 
                }
                .container_207_2_3{
                    font-size:50% ;
                    background-color: rgb(255, 255, 255);
                    height: 30%;
                        width: 100%;
                        float: left; 
                    }
        .container_207_3{
            background-color: rgb(255, 255, 255);
            height: 100%;
                width: 60.5%;
                float: left; 
            }
            .container_207_4{
                text-align:center;
                vertical-align: baseline;
                font-family:'Nexa_Regular';
                font-size:50% ;
                background-color: rgb(255, 255, 255);
                color:violet;
                height: 100%;
                    width: 6.44%;
                    float: left; 
                }
                
                .container_207_5{
                    /* padding-top: 0.5vh; */
                    text-align:left;
                    vertical-align: sub;
                    font-family:'Nexa_Regular';
                    font-size:5.12vh ;
                    background-color: rgba(255, 255, 255);
                    color:violet;
                    height: 100%;
                        width: 3.12%;
                        float: left; 
                    }
                    .container_207_6{
                        text-align:center;
                        vertical-align: baseline;
                        font-family:'Nexa_Regular';
                        font-size:50% ;
                        background-color: rgb(255, 255, 255);
                        color:violet;
                        height: 100%;
                            width: 6.44%;
                            float: left; 
                        }
                        .container_207_7{
                            background-color: rgb(255, 255, 255);
                            height: 100%;
                                width: 3%;
                                float: left; 
                            }
                            .logocosas{
                                height: 100%;
                                        width: 100%;
                                        background-color: rgba(255, 255, 255);
                                      }
                                      
                                      .logocasas{
                                        height: 95%;
                                        width: 100%;
                                        background-color: rgba(255, 255, 255);
                                              } 
                                              .foto{
                                                height: 100%;
                                                width: 100%;
                                                      }
                                                      .textpisos{
                                        
                                                        height: 100%;
                                                        width: 100%;
                                                        
                                                        object-fit: unset;
                                                              }
                                                              .logoPA{
                                                                height: 100%;
                                                                width: 100%;
                                                                float: left;
                                                                      }
                                                      .imgfecha{
                                                        height: 100%;
                                                        width: 100%;
                                                              }
                                                              .ubicacion{
                                                                height: 100%;
                                                                width: 90%;
                                                                float: right;
                                                                      }
                                                                      .container_205_5_2_1{
                                                                        background-color: rgb(255, 255, 255);
                                                                        color:rgb(10, 10, 10);
                                                                        height: 100%;
                                                                        width: 2%;
                                                                        float: left;  
                                                                        }
                                                                        .container_205_5_2_2{
                                                                            background-color: rgb(0, 0, 0);
                                                                            color:rgb(10, 10, 10);
                                                                            height: 100%;
                                                                            width: 49%;
                                                                            float: left;  
                                                                            }
                                                                            .container_207_4_1{
                                                                                background-color: rgba(255, 255, 255);
                                                                                height: 22%;
                                                                                    width: 100%;
                                                                                    float: left; 
                                                                                }
                                                                                .container_207_4_2{
                                                                                    /* padding-top: 0.5vh; */
                                                                                    text-align:center;
                                                                                    vertical-align: baseline;
                                                                                    font-family:'Nexa_Regular';
                                                                                    font-size:100% ;
                                                                                    background-color: rgba(255, 255, 255);
                                                                                    color:rgb(0,0,0);
                                                                                    height: 60%;
                                                                                        width: 100%;
                                                                                        float: left; 
                                                                                    }
                                                                                    .container_207_4_3{
                                                                                        font-size:50% ;
                                                                                        background-color: rgba(255, 255, 255);
                                                                                        height: 1%;
                                                                                            width: 100%;
                                                                                            float: left; 
                                                                                        }
                                                                                        .container_207_6_1{
                                                                                            background-color: rgba(255, 255, 255);
                                                                                            height: 28%;
                                                                                                width: 100%;
                                                                                                float: left; 
                                                                                            }
                                                                                            .container_207_6_2{
                                                                                                /* padding-top: 0.5vh; */
                                                                                                text-align:center;
                                                                                                vertical-align: baseline;
                                                                                                font-family:'Nexa_Regular';
                                                                                                font-size:100% ;
                                                                                                background-color: rgba(255, 255, 255);
                                                                                                color:rgb(0,0,0);
                                                                                                height: 60%;
                                                                                                    width: 100%;
                                                                                                    float: left; 
                                                                                                }
                                                                                                .container_207_6_3{
                                                                                                    font-size:50% ;
                                                                                                    background-color: rgba(255, 255, 255);
                                                                                                    height: 1%;
                                                                                                        width: 100%;
                                                                                                        float: left; 
                                                                                                    }

                                                                                                    .container_207_5_1{
                                                                                                        background-color: rgb(255, 255, 255);
                                                                                                        height: 20%;
                                                                                                            width: 100%;
                                                                                                            float: left; 
                                                                                                        }
                                                                                                        .container_207_5_2{
                                                                                                            /* padding-top: 0.5vh; */
                                                                                                            text-align:center;
                                                                                                            vertical-align: baseline;
                                                                                                            font-family:'Nexa_Regular';
                                                                                                            font-size:100% ;
                                                                                                            background-color: rgb(255, 255, 255);
                                                                                                            color:rgb(0,0,0);
                                                                                                            height: 60%;
                                                                                                                width: 100%;
                                                                                                                float: left; 
                                                                                                            }
                                                                                                            .container_207_5_3{
                                                                                                                font-size:50% ;
                                                                                                                background-color: rgb(255, 255, 255);
                                                                                                                height: 1%;
                                                                                                                    width: 100%;
                                                                                                                    float: left; 
                                                                                                                }

                                                                                                                .container_207_5_2_1{
                                                                                                                    background-color: rgb(0, 0, 0);
                                                                                                                    color:rgb(10, 10, 10);
                                                                                                                    height: 100%;
                                                                                                                    width: 2%;
                                                                                                                    float: left;  
                                                                                                                    }
                                                                                                                    .container_207_5_2_2{
                                                                                                                        background-color: rgb(255,255,255);
                                                                                                                        color:rgb(255, 255, 255);
                                                                                                                        height: 100%;
                                                                                                                        width: 49%;
                                                                                                                        float: left;  
                                                                                                                        }

@font-face {
    font-family: "Nexa_Regular";
    src: url("../../assets/fonts/NexaRegular.otf") format("truetype");

    /* Add other formats as you see fit */
    
}