

.imgfoot{
    /* object-fit: fill; */
    height: 100%;
    width: 100%;
    object-fit: inherit;
}
.image2{
    background-color: white;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.container_all{

    background-color: black;
    height: 99.9%;
    
    
}
.container_1{
    display: flex;
    background-color: black;
    height: 12.5vh;
    width: 100vw;
    align-items: center;
    justify-content:space-around;
    
}
.container_11{
   
    
    background-color: black;
    height: 3.9vh;
    width: 40.62vw;

    
    
}
.container_2{

    background-color: black;
    height: 25vh;
    
    
}
.video{
   
    object-fit: cover;
    width: 100vw;
    height: 100%;

}
.container_3{

    background-color: black;
    height: 9.37vh;
    
    
}
.container_4{
    object-position: center;
   
    flex-direction: column;
    background-color: black;
    height: 7.07vh;
    
    
}

.container_41{

    float: left;
    background-color: black;
    height: 100%;
    width: calc(52.56% ) ;
    display:inline-block;   
    
}
.container_40{
   

    float: left;
    background-color: black;
    height: 100%;
    width: 23.07%;
    display:inline-block;
    
    
}
.container_5{

    background-color: black;
    height: 9.37vh;
    
    
}
.container_6{

    background-color: black;
    height: 15.62vh;
    
    
}
.container_60{
    display:block;
    float: left;

    background-color:black;
    height: 100%;
    width: 5.24%;
    
    
}
.container_61{
    float: left;
    background-color: black;
    height: 100%;
    width: 43.76%;
    display:block;
    
    
}
.container_611{
   
    background-color: black;
    height:  20%;
   
    
    
}
.container_612{
/* padding-top: 0.5vh; */
 text-align:left;
 vertical-align: sub;
   font-family:'Nexa_Regular';
   font-size: calc((4vh + 2vw));
    background-color: black;
    color:white;
    height: 26.6%;
 
}
.container_6img{
/* padding-top: 0.5vh; */
 text-align:left;
 vertical-align: sub;
   font-family:'Nexa_Regular';
   font-size: calc((4vh + 2vw));
    background-color: black;
    color:white;
    height: 80%;
 
}

.container_62{
    display:block;
    float: left;

    background-color: black;
    height: 100%;
    width: 43.76%;
    
    
}
.container_621{
    display:block;
    float: left;

    background-color: black;
    height: 30%;
    width: 100%;
    
    
}
.container_621_1{
    display:block;
    float: left;

    background-color: black;
    height: 100%;
    width: 7.13%;
    
    
}
.container_621_2{
    display:block;
    float: left;
    background-color: black;
    height: 100%;
    width: 7.69%;
    
    
}
.container_621_0{
    display:block;
    float: left;
    background-color: white;
    height: 100%;
    width: 0.2%;
    
    
}
.container_6211{
    display:block;
    float: left;

    background-color: black;
    height: 100%;
    width: 21.40%;
    
    
}
.container_6212{
    display:block;
    float: left;

    background-color: black;
    height: 100%;
    width: 18.3%;
    
    
}
.container_622{
    display:block;
    float: left;

    background-color: black;
    height: 50%;
    width: 100%;
    
    
}
.container_6221{
    display:block;
    float: left;

    background-color: black;
    height: 100%;
    width: 85.74%;
    
    
}
.container_62211{
    text-align: left;
    font-family:'Nexa_Regular' ;
    color: white;
    font-size:  calc((1.5vw + 0.4vh));
    display:block;
    float: left;

    background-color: black;
    height: 25%;
    width: 100%;
    
    
}
.container_6222{
    display:block;
    float: left;

    background-color: black;
    height: 100%;
    width: 14.26%;
    
    
}

.container_620{
    display:block;
    float: left;

    background-color: black;
    height: 20%;
    width: 100%;
    
    
}
.container_7{

    background-color: black;
    height: 15.1vh;
    
    
}
.container_71{

    background-color: black;
    height: 2.34vh;
    
    
}
.container_72{
    font-family:'Nexa_Regular' ;
    display:flex;

    background-color: black;
    height: 1.17vh;
    justify-content: flex-end;
    
    
}
.container_723{

    display:inline-block;
    background-color: black;
    color:white;
    font-size: 1.17vh;
    width: auto;
    height: 1.17vh;
    
    
    
}
.container_724{
    display:inline-block;
    background-color: black;
    font-size: 1.17vh;
   
    height: 1.17vh;
    width: 6.25vw;
    
    
    
}
.container_73{

    background-color: black;
    height: 6.25vh;
    
    
}
.container_74{
    display: flex;
    background-color: black;
    height: 0.78vh;
    justify-content: center;
    
    
}
.container_74_text{
    font-family:'Nexa_Regular' ;
    font-size: 1.78vh;
    background-color: black;
    color: white;
    height: 1.78vh;
    
    
}
.container_75{

    background-color: black;
    height: 7.40vh;
    
    
}
.container_8{

    background-color: white;
    height: 5.46vh;
    
    
}
.container_80{
    display:block;
    float: left;
    background-color: white;
    height: 100%;;
    width: 52.34%;

    
    
}
.container_81{
    display:block;
    float: left;
    background-color: white;
    height: 100%;;
    width:14.64%;
    
    
}
.container_810{
    display:block;
    float: left;
    background-color: white;
    height: 100%;;
    width:9.64%;
    
    
}
.container_811{
    display:block;
    float: left;
    background-color: white;
    height: 100%;;
    width:34.3%;
    
    
}
.container_812{
    text-align: center;
    
    font-family: 'Nexa_Regular';
    font-size: 12.48%;
    color: black;
    display:block;
    float: left;
    background-color: white;
    height: 100%;
    width:64.7%;
    
    
}
.container_8121{
    text-align: center;
    
    font-family: 'Nexa_Regular';
    font-size: 12.48%;
    color: black;
    display:block;
    float: left;
    background-color: white;
    height: 37.44%;
    width:100%;
    
    
}
.container_8122{
    text-align: center;
    
    font-family: 'Nexa_Regular';
    font-size: 12.48%;
    color: black;
    display:block;
    float: left;
    background-color: white;
    height: 50%;
    width:100%;
    
    
}
.container_82{
    vertical-align: middle;
    display:block;
    float: left;
    background-color: white;
    height: 100%;;
    width:  29%;
    
    
}
.container_820{
    
   
    font-family: 'Nexa_Regular';
    font-size: 12.48%;
    color: green;
    display:inline;
    float: left;
    background-color: white ;
    height: 100%;
    width:1%;
    
    
}
.container_8201{
    text-align: center;
    
    font-family: 'Nexa_Regular';
    font-size: 12.48%;
    color: black;
    display:block;
    float: left;
    background-color: white;
    height: 37.44%;
    width:100%;
    
    
}
.container_8202{
    text-align: center;
    
    font-family: 'Nexa_Regular';
    font-size: 12.48%;
    color: white;
    display:block;
    float: left;
    background-color: black;
    height: 24.94%;
    width:100%;
    
    
}
.container_821{
    text-align: center;
    
    font-family: 'Nexa_Regular';
    font-size: 12.48%;
    color: black;
    display:block;
    float: left;
    background-color: white;
    height: 100%;
    width:49%;
    
    
}
.container_8211{
    text-align: center;
    
    font-family: 'Nexa_Regular';
    font-size: 12.48%;
    color: black;
    display:block;
    float: left;
    background-color: white;
    height: 37.44%;
    width:100%;
    
    
}
.container_8212{
    text-align: center;
    
    font-family: 'Nexa_Regular';
    font-size: 12.48%;
    color: black;
    display:block;
    float: left;
    background-color: white;
    height: 24.96%;
    width:100%;
    
    
}
.container_82121{
    text-align: center;
    
    font-family: 'Nexa_Regular';
    font-size: 12.48%;
    color: black;
    display:block;
    float: left;
    background-color: white;
    height: 100%;
    width:78.5%;
    
    
}
.container_82122{
    text-align: center;
    
    font-family: 'Nexa_Regular';
    font-size: 12.48%;
    color: black;
    display:block;
    float: left;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width:21.5%;
    
    
}
/* .container_82{
    vertical-align:middle;
    display:block;
    float: left;
    background-color: black;
    height: 100%;;
    width:  6.24%;
    
    
} */
.container_822{
    text-align: center;
    
    font-family: 'Nexa_Regular';
    font-size: 12.48%;
    color: black;
    display:block;
    float: left;
    background-color: white;
    height: 100%;
    width:49%;
    
    
}
.container_8221{
    text-align: center;
    
    font-family: 'Nexa_Regular';
    font-size: 12.48%;
    color: black;
    display:block;
    float: left;
    background-color: white;
    height: 37.44%;
    width:100%;
    
    
}
.container_8222{
    text-align: center;
    
    font-family: 'Nexa_Regular';
    font-size: 12.48%;
    color: black;
    display:block;
    float: left;
    background-color: white;
    height: 24.96%;
    width:100%;
    
    
}
.container_82221{
    
    text-align: center;
    
    font-family: 'Nexa_Regular';
    font-size: 12.48%;
    color: black;
    display:block;
    float: left;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width:21.5%;
    
    
}
.container_82222{
    text-align: center;
    
    font-family: 'Nexa_Regular';
    font-size: 12.48%;
    color: black;
    display:block;
    float: left;
    background-color: white;
    height: 100%;
    width:78.5%;
    
    
}
.container_83{
    vertical-align:middle;
    display:block;
    float: left;
    background-color: white;
    height: 100%;;
    width:  6.24%;
    
    
}



@font-face {
    font-family: "Nexa_Regular";
    src: url("../../assets/fonts/NexaRegular.otf") format("truetype");

    /* Add other formats as you see fit */
  }


/* body{
    background-color: black;
    text-align: center
    
}
.header1{

  
    margin-top: 3vh;
    
   
    margin-left: 8vw;
    margin-right: 8vw;
    
}
.body1{

    color: white;
   align-items: center;
    margin-left: 0px;
    
}
.divbod1{
    float: left;
    display: inline-block;

    color: white;
    width: 60vw;

    margin-left: 0px;

}
.divbod2{
    float: left;

   
  width: 40vw;
  display: inline-block;
}
.imgfecha{
    padding-right: 8vw;
    padding-top: 20vw;
float: right;
    height:10vw;
   
 
}
.divider
{
   height: 1px;
   color: black;
    margin-top: 2vh;
    margin-bottom: 4vh;
    border-style: dashed;
    border-top: 0.1px solid grey;
    
}
.logo
{
    width: 50vw;
    
}


.tittle0
{
    font-size: 9vw;
    display: flex;
    color: white;
    margin-bottom: 0%;
    margin-top: -4vw;
    border-color: white;
   
}
.al1
{
    font-size: 2vw;
  
    float: left;
    color: white;
    margin-bottom: 0%;
    font-family: "Soleil";
    border-color: white;
   
}
.al2
{
    font-size: 3vw;
   
    text-align: center;
    color: white;
    margin-bottom: 0%;
    font-family: "Soleil";
    
    border-color: white;
   
}
.al3
{
    font-size: 3vw;
   
    text-align: center;
    color: white;
    margin-bottom: 0%;
    font-family: "Soleil";
    font-weight: bold;
    border-color: white;
   
}

.contenedortitle
{
    

    font-family: "SoleilXd";
    
    margin-left:8vw ;
}
.contador
{
    padding-top: 2vh;
    
    font-family: "SoleilXd";
    color: white;
   
}
.iframevideo1{

    margin-top: 4vh;
    width: 100%;
    height: 20vh;
    margin-bottom: 6vh;

   
    
    
}
.video{
   
    object-fit: cover;
    width: 100vw;
    height: 20vh;

}


.contenedor-bajo1{
   
    margin-top: 0vw;
    
}
.contenedor-bajo2{
   
   
    
}
.bajo1{
    

   float: left;
   width: 20vw;
   align-items: center;
   text-align: right;
   height:100%;
  

}

.bajo2{
    margin-top: 0.5em;
    font-size: 2.5vw;
    font-family: "Soleil";
align-items: center;
text-align: center;
    color:white;
    float: left;
   width: 60vw;
    
}


.bajo3{
   
  
    object-fit:fill;
    align-items: center;
   text-align:left;

    width: 20vw;
    float: left;
    height:100%;
    display: inline-block;
}
.bajo4{
    
padding-left: 8vw;
    float: left;
    width: 18vw;
    align-items: center;
    text-align: right;
    height:100%;
    border-right: 0px solid white;
    border-left: 0px solid white;
    border-top: 0px solid white;
 
 }


.bajo5{
   
  
    object-fit:fill;
    align-items: center;
   text-align:center;
   margin-top: 0.7em;
    width: 0px;
    float: left;
    height: 7vw;
    display: inline-block;
    border-style: dashed;
    border-right: 0px solid white;
    border-left: 0px solid white;
    border-top: 0px solid white;
    padding-left: 2vw;
}



.imgcalendar{
   
    align-items: center;
    margin-top: 2vw;
    padding-left: 2vw;
   
    
    padding-right: 5vw;
   
    width: 12vw;
}
.imgdir{
   
    
    margin-top: 0.1em;
    padding-left: 8vw;
   
    
    padding-right: 5vw;
   
    width: 12vw;
}


.imgfoto{
    align-items: center;
    margin-top: 2vw;
    padding-left: 5vw; 
   
    width: 12vw;
    padding-right: 2vw;
    
}
.bajo6{
    font-size: 4vw;
    font-family: "Soleil";
text-align: center;
vertical-align:middle;
    color:white;
    float: left;
   width: 48vw;
   height: 100%;

    
}
.etiqtp1{
    margin-block-start: -1.3vh;
    margin-block-end: 0%;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
    height: 100%;
   
    

 }
 .etiqtp-1{
    
    margin-block-start: 3vw;
    margin-block-end: 0%;
    margin-inline-start: 0%;
    margin-inline-end: 0%;

 }
 .etiqtp{
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
   
   
    margin-top:10%;


 }

 .css-text-901oao {
    white-space:unset;
 }
 .css-901oao{
    white-space:unset;

 }


@font-face {
    font-family: "Soleil";
    src: url("../../assets/fonts/Soleil-Regular.ttf") format("truetype");
    

  }

  @font-face {
    font-family: "SoleilXd";
    src: url("../../assets/fonts/Soleil\ ExtraBold.otf") format("truetype");
    
  } */